*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

.bloc_page {
  font-family: 'Roboto', sans-serif;
  width: 100%; }

/* FOOTER */
footer {
  width: 100%;
  height: 240px;
  background-color: #353535;
  z-index: 8000; }
  footer h3 {
    font-family: 'Shrikhand', sans-serif;
    padding-top: 25px;
    padding-left: 25px;
    color: #fff;
    font-size: 25px;
    font-weight: 200; }
  footer ul {
    padding-left: 25px;
    list-style-type: none;
    margin-top: 20px; }
  footer ul .fa-solid {
    font-size: 15px;
    padding-right: 10px;
    color: #fff; }
  footer .fa-solid.fa-utensils {
    font-size: 17px; }
  footer li {
    font-size: 19px;
    color: #fff;
    margin-top: 8px; }
  footer a {
    color: #fff; }
  footer a:hover {
    color: #FF79DA; }
    footer a:hover .fa-solid {
      color: #FF79DA; }
  footer span {
    padding-left: 4px; }

/* LOGO HEADER */
.logo {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 1000; }
  .logo img {
    max-width: 50%;
    height: auto; }

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

.bloc_page {
  font-family: 'Roboto', sans-serif;
  width: 100%; }

/* FOOTER */
footer {
  width: 100%;
  height: 240px;
  background-color: #353535;
  z-index: 8000; }
  footer h3 {
    font-family: 'Shrikhand', sans-serif;
    padding-top: 25px;
    padding-left: 25px;
    color: #fff;
    font-size: 25px;
    font-weight: 200; }
  footer ul {
    padding-left: 25px;
    list-style-type: none;
    margin-top: 20px; }
  footer ul .fa-solid {
    font-size: 15px;
    padding-right: 10px;
    color: #fff; }
  footer .fa-solid.fa-utensils {
    font-size: 17px; }
  footer li {
    font-size: 19px;
    color: #fff;
    margin-top: 8px; }
  footer a {
    color: #fff; }
  footer a:hover {
    color: #FF79DA; }
    footer a:hover .fa-solid {
      color: #FF79DA; }
  footer span {
    padding-left: 4px; }

/* LOGO HEADER */
.logo {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 1000; }
  .logo img {
    max-width: 50%;
    height: auto; }

@keyframes progression {
  0% {
    transform: scaleX(0); }
  18% {
    transform: scaleX(0.18); }
  33% {
    transform: scaleX(0.33); }
  54% {
    transform: scaleX(0.54); }
  78% {
    transform: scaleX(0.78); }
  100% {
    transform: scaleX(1); } }
@keyframes fadeout {
  from {
    opacity: 1;
    z-index: 8000; }
  to {
    opacity: 0;
    z-index: -1000; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* HEADER */
header {
  z-index: 1000; }

.logo a {
  position: relative;
  left: -65px;
  font-size: 22px;
  text-decoration: none;
  color: black;
  z-index: 250; }

.blocimg img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  z-index: 250;
  position: relative; }

/* MENU */
.menu {
  height: 1350px;
  background-color: #f6f6f6;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  z-index: 500;
  position: relative;
  top: -60px; }

.blocinside {
  height: 97%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  top: 40px; }
  .blocinside .titre {
    font-family: 'Shrikhand', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px; }
    .blocinside .titre .fa-regular {
      padding-right: 15px; }
  .blocinside .button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    cursor: pointer; }
    .blocinside .button .fa-solid, .blocinside .button .fa-regular {
      font-size: 25px; }
    .blocinside .button .fa-solid {
      display: none;
      margin-left: -15px;
      color: #9356DC; }
  .blocinside input[type="checkbox"] {
    display: none; }
  .blocinside input[type="checkbox"]:checked + .button .fa-regular {
    display: none; }
  .blocinside input[type="checkbox"]:checked + .button .fa-solid {
    display: block; }
  .blocinside h3 {
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 3px solid #99E2D0;
    width: 45px; }

.entrees, .plats, .desserts {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 5px; }

.toggle-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85px;
  background: white;
  border-radius: 25px;
  box-shadow: 1px 6px 6px 0px rgba(67, 66, 66, 0.1);
  cursor: pointer;
  animation: fadein 0.5s forwards ease;
  animation-fill-mode: both;
  overflow: hidden; }
  .toggle-content:hover {
    box-shadow: 1px 6px 6px 0px rgba(67, 66, 66, 0.3); }

.a {
  animation-delay: 0s; }

.b {
  animation-delay: 100ms; }

.c {
  animation-delay: 200ms; }

.d {
  animation-delay: 300ms; }

.e {
  animation-delay: 400ms; }

.f {
  animation-delay: 500ms; }

.g {
  animation-delay: 600ms; }

.h {
  animation-delay: 700ms; }

.i {
  animation-delay: 800ms; }

.j {
  animation-delay: 900ms; }

.text {
  width: 90%;
  padding-left: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  .text h2 {
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .text p {
    font-size: 15px;
    margin-top: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .text span {
    margin-right: 15px;
    font-weight: 800; }

.prix {
  margin-top: 25px;
  font-weight: 900;
  margin-right: -25%;
  transition: all 0.5s ease-in-out;
  animation-fill-mode: none; }
  .prix span {
    margin-left: 10px; }

.checked {
  width: 30%;
  height: 85px;
  background-color: #99E2D0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  margin-left: 15px; }
  .checked .fa-solid {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    font-size: 0px;
    color: #fff;
    z-index: 1200; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"]:checked + .toggle-content .checked {
    transform: translateX(0%); }
  input[type="checkbox"]:checked + .toggle-content .checked .fa-solid {
    opacity: 1;
    transform: rotate(360deg);
    font-size: 30px; }
  input[type="checkbox"]:checked + .toggle-content .prix {
    margin-right: 0%; }

.commander {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .commander .btn.command {
    padding: 20px 50px;
    border-radius: 50px;
    color: #fff;
    border: none;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    font-size: 19px;
    font-weight: 500;
    box-shadow: 0px 5px 5px 0px rgba(67, 66, 66, 0.2);
    transition: border-radius 0.5s; }
    .commander .btn.command:hover {
      box-shadow: 0px 5px 5px 0px rgba(67, 66, 66, 0.4); }

footer {
  margin-top: -60px; }

/*# sourceMappingURL=menu4.css.map */
