@import "../utils/variables";
@import "../utils/mixins";
@import "../base/base";
@import "../layout/footer";
@import "../layout/header";
@import "../utils/keyframes";

/* SPINNER */
.spinner {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #333;
    z-index: 8000;
    opacity: 1;
    @include centre;
    flex-direction: column;
    animation: fadeout 0.5s forwards;
    animation-delay: 1.8s;

    h4 {
        color: #fff;
        font-size: 50px;
        font-family: 'Shrikhand', sans-serif;
    }
    span {
        width: 70%;
        height: 20px;
        background: linear-gradient(170deg, $rose, $violet );
        animation: progression 1.5s ease;
        transform-origin: left;
    }
}

/* LOCALISATION */
    .position {
        width: 100%;
        height: 65px;
        background-color: #eaeaea;
        z-index: 500;
        @include centre;
        box-shadow: inset 0px 4px 7px -4px #333;
        & #loc {
            font-size: 21px;
            font-weight: 600;
            color: #606060;
            border: none;
            background-color: #eaeaea;
            width: 180px;
        }
        & .fa-solid {
            color:#606060;
            padding-right: 10px;
            font-size: 21px;
            margin-bottom: 5px;
        }
    }
    
    /* INTRODUCTION EXPLORE */
    .explore {
        width: 100%;
        height: 350px;
        background-color: #f6f6f6;
        @include centre;
        flex-direction: column;
        text-align: center;
        h1 {
            padding-left: 10%;
            padding-right: 10%;
            font-size: 28px;
        }
        p {
            padding-left: 5%;
            padding-right: 5%;
            font-size: 19px;
            margin-top: 15px;
            color: #606060;
        }
        &__btn_search {
            margin-top: 40px;
            padding: 20px 20px;
            border-radius: 50px;
            color: #fff;
            border: none;
            background: linear-gradient(170deg, $rose, $violet);
            font-size: 19px;
            font-weight: 500;
            @include btnshadow;
            transition: all 0.2s ease-in-out;
            &:hover {
                @include hoverbtnshadow;
                filter: brightness(1.1);
            }
        }
    }
    
    /* FONCTIONNEMENT */
    .fonction {
        width: 100%;
        height: 520px;
        background-color: #fff;
        & .titreimportant {
            padding-top: 50px;
            padding-left: 20px;
            font-size: 28px;
        }
        &__container {
            width: 100%;
            height: 380px;
            @include centre;
            flex-direction: column;
            &__howto {
                width: 85%;
                height: 90px;
                border-radius: 35px;
                margin-top: 30px;
                display:flex;
                align-items: center;
                z-index: 2000;
                background-color: #f6f6f6;
                @include shadow;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                p {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    @include centre;
                    margin-left: -15px;
                    z-index: 10000;
                    background-color: $violet;
                    color: #fff;
                }      
                .fa-solid {
                    font-size: 23px;
                    padding-left: 25px;
                    color: #7d7d7d;
                }
                h3 {
                    padding-left: 25px;
                    font-size: 17px;
                }  
                &:hover {
                    background-color: #f5edff;
                    @include hovershadow;
                    & .fa-solid {
                        color: $violet;
                    }
                }
            }
        }
    }
    
    /* NOS RESTAURANTS */
    .resto {
        width: 100%;
        height: 1640px;
        background-color: #f6f6f6;
        .titreimportant {
            padding-top: 50px;
            padding-left: 20px;
        }
        &__restaurants {
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 1500px;
            &__content {
                width: 90%;
                height: 340px;
                border-radius: 25px;
                @include shadow;
                position: relative;
                z-index: 5000;
                transition: all 0.2s ease-in-out;
                &:hover {
                    @include hovershadow;
                    filter: brightness(1.1);
                } 
            a {
                width: 100%;
                padding-top: 15px;
                padding-bottom: 15px;
            }      
            }
            &__image {
                width: 100%;
                height: 75%;
                &__nouveau {
                    position: relative;
                    top: -95%;
                    z-index: 10000;
                    display:flex;
                    justify-content: flex-end;
                    margin-right: 20px;
                }
                p {
                    padding: 10px 15px;
                    width: 25%;
                    border-radius: 5px;
                    background-color: $vert;
                    color: #0d8f6f;
                    font-weight: 600;
                    @include centre;
                }
            }
            img {
                width: 100%;
                height: 100%;
                z-index: 1000;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                object-fit: cover;
            }
            &__titre {
                width: 100%;
                height: 25%;
                display:flex;
                align-items: center;
                justify-content: space-between;
                background-color: #fff;
                border-bottom-left-radius:  25px;
                border-bottom-right-radius: 25px;
                &__text {
                    color: black;
                    padding-left: 15px;
                h2 {
                    font-size: 21px;
                }
                p {
                    font-size: 19px;
                }
                }
                &__coeurs {
                    width: 50px;
                    height: 80px;
                    @include centre;
                    padding-right: 40px;
                    padding-left: 20px;
                }
            }
        }
    }
    .keur {
        display:none;
    }
    
    .button {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .button .fa-regular, .fa-solid {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 35px;
        transition: all 0.5s ease-in-out;
    }
    
    .button .fa-regular {
        opacity: 1;
        color: black;
    }
    .button .fa-solid {
        transform: translateY(-100%);
        opacity: 0;
        margin-left: -100%;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(170deg, $rose, $violet );
    }
    
    input[type='checkbox']:checked + .button .fa-regular {
        opacity: 0;
    }
    
    input[type='checkbox']:checked + .button .fa-solid {
        opacity: 1;
        margin-left: 0%;
    }

@import "../mediaqueries/mediaqueries";