@import "../utils/variables";

@media screen and (min-width: 769px) {
    .logo {
        height: 110px;
    }
    .fonction .titreimportant {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 0px;
        h3 {
            font-size: 20px;
        }
    }
    
    .fonction__container__howto {
        width: 60%;
    }
    .resto {
        height: 950px;
        .titreimportant  {
            padding-left: 0px;
            display: flex;
            justify-content: center;
        }
        &__restaurants {
            height: 800px;
            flex-direction: initial;
            margin-top: 0px;
            flex-wrap: wrap;
            &__content {
                width: 45%;
            }
        }
    }
}